{% extends "base.html" %}
{% load static %}
 {% block title %} Sign In {% endblock title %} 

{% block custom_head %}
<link rel="stylesheet" href="{% static 'css/signin.css' %}" />
{% endblock custom_head %} 

{% block content %}
<body class="text-center container">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6 col-sm-10">
            <div class="container">
                <h1 class="display-2">Grocery Bag</h1>
                <hr>
                <main class="form-signin">
                    <form method="POST" action="{% url 'signin' %}">
                      {% csrf_token %}
                
                      <h1 class=" mb-3 fw-normal">Please Sign In</h1>
                      <hr>
                      {% include 'alert.html' %}
                      <div class="form-floating mt-2">
                        <input
                          type="text"
                          class="form-control"
                          id="floatingInput"
                          name="username"
                          placeholder="johndoe"
                        />
                        <label for="floatingInput">Username</label>
                      </div>
                      <div class="form-floating mt-2">
                        <input
                          type="password"
                          class="form-control"
                          id="floatingPassword"
                          name="password"
                          placeholder="Password"
                        />
                        <label for="floatingPassword">Password</label>
                      </div>
                      <hr>
                      <button class="w-100 btn btn-lg btn-primary mt-2" type="submit">
                        Sign in
                      </button>
                      <p class="mt-3">New user? <a class="btn btn-info" href="{% url 'signup' %}">Sign up now</a></p>
                    </form>
                  </main>
            </div>
        </div>
    </div>

</body>
{% endblock content %}